.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding-top: 6px;
  padding-bottom: 8px;
  background: white;
  transition: transform 0.5s ease-in-out;
  line-height: 1;
  height: auto;

  &--hidden {
    transform: translate3d(0, -102%, 0);
  }

  &--on-top {
    // background: transparent;
    transform: translate3d(0, 0, 0);
  }
}

.hamburger {
  @include respUp(lg) {
    display: none !important; 
  }
}

.search {
  display: none !important; 
  @include respUp(md) {
    display: inline-block !important; 
  }
}

.navigation {
  display: none !important; 
  @include respUp(lg) {
    display: flex !important; 
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}
