@mixin font-face($font-name, $file-name, $font-weight) {
  @font-face {
    font-family: quote($font-name);
    font-style: normal;
    font-weight: $font-weight;
    src:
      url("/fonts/#{$font-name}/#{$file-name}.woff2") format("woff2"),
      url("/fonts/#{$font-name}/#{$file-name}.woff") format("woff");
  }
}
