html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

#__next,
.ant-layout {
  height: 100%;
}

.ant-layout-header {
  height: auto !important;
  line-height: 1 !important;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  @include respOnly(md) {
    padding: 0 20px;
  }

  @include respOnly(lg) {
    padding: 0 60px;
  }

  @include respUp(xl) {
    max-width: 2840px;
    padding: 0 60px;
  }
}
