$breakpoints: (
  xs: 0,
  sm: 320,
  md: 768,
  lg: 1279,
  xl: 1680
);

$c-white: #fff;
$c-black: #161616;
$c-gold: #e08c06;
$c-red: #ff6347;
$c-brown: #766051;
$c-grey: #9a9a9a;
$c-green: #53b96e;
$c-yellow: #f0cd5d;
$c-blue: rgb(57, 154, 235);

// $Avenir: 'Avenir', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
// $TimeNewRoman: 'Times New Roman', Times, serif;
